.totvs-btn {
    border: solid 1px #e4e7e7;
    border-radius: 3px;
    padding: 16px 20px 16px 20px;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
}

.totvs-btn .disabled {
    background-color: red;
}

.totvs-btn-group > .totvs-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.totvs-btn-group > .totvs-btn:first-child {
  margin-left: 0;
}
.totvs-btn-group > .totvs-btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.totvs-btn-group > .totvs-btn:last-child:not(:first-child),
.totvs-btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.totvs-btn-group > .totvs-btn-group {
  float: left;
}
.totvs-btn-group > .totvs-btn-group:not(:first-child):not(:last-child) > .totvs-btn {
  border-radius: 0;
}
.totvs-btn-group > .totvs-btn-group:first-child:not(:last-child) > .totvs-btn:last-child,
.totvs-btn-group > .totvs-btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.totvs-btn-group > .totvs-btn-group:last-child:not(:first-child) > .totvs-btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.button-group-justified > .totvs-btn,
.button-group-justified > .totvs-btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}

.button-group-justified > .totvs-btn-group .totvs-btn {
  width: 100%;
}

.totvs-btn-justified {
    width: 100%;
}

.totvs-btn-link {
    background-color: #ffffff;
    color: #0c9abe;
    border: none;
    padding: 2px 2px 2px 2px;
}

.totvs-btn-link.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #d2d6d7;
}

.totvs-btn-primary {
    background: #189FC1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#189FC1, #0C93B5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#189FC1, #0C93B5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#189FC1, #0C93B5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#189FC1, #0C93B5); /* Standard syntax */

    color: #FFFFFF;
}

.totvs-btn-secondary {
    background: #f6f7f7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #f6f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #f6f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #f6f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #f6f7f7); /* Standard syntax */
}

.totvs-btn-secondary.active {
    background: #ea9b3e;
    border: solid 1px #e4e7e7;
    color: #ffffff;
}
