<!doctype html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>
		<%= project.name %>
	</title>

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css styles/app.css -->
	<link rel="stylesheet" href="styles/app.css">
	<!-- endbuild -->
</head>

<body class="disabled">
	<div class="splash">
		<h1 class="splash-title">
			<%= project.name %>
		</h1>
		<img class="totvs-logo" src="images/totvs.png" />
		<img class="cloudbridge-logo" src="images/cloudbridge.png" />
	</div>

	<div id="map" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Map</h4>
				</div>
				<div class="modal-body">
					<iframe src="http://maps.google.com/?output=embed"></iframe>
				</div>
			</div>
		</div>
	</div>
	
	<h1>
		<img src="images/logo_totvs.png">
		<span>Cloud Bridge</span>
	</h1>

	<div class="container-fluid">
		<h2 class="row">Acesso aos perifericos</h2>
		<ul class="row">
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_cam'>Captura imagem</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_barcode'>C&oacute;digo de barras</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_bt_paired'>Pareados</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_geolocation'>Geo Posi&ccedil;&atilde;o</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_orientation_lock'>Libera Orienta&ccedil;&atilde;o</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_orientation_unlock'>Trava Orienta&ccedil;&atilde;o</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_notify'>Notifica&ccedil;&atilde;o</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='device_vibrate'>Vibra&ccedil;&atilde;o</li>
		</ul>

		<h2 class="row">Testa os perifericos</h2>
		<ul class="row">
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_bluetooth'>Testa BlueTooth</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_nfc'>Testa NFC</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_wifi'>Testa WIFI</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_gps'>Testa GPS</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_wifi_conn'>Conectado WIFI</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='test_3g_conn'>Conectado 3G</li>
		</ul>

		<h2 class="row">Abre as configura&ccedil;&otilde;es</h2>
		<ul class="row">
			<li class="col-xs-12 col-sm-6 col-md-3" id='config_bluetooth'>Abre BlueTooth</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='config_nfc'>Abre NFC</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='config_wifi'>Abre WIFI</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='config_gps'>Abre GPS</li>
		</ul>

		<h2 class="row">Acesso ao SQLite</h2>
		<ul class="row">
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_create'>Cria Tabela</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_insert'>Insere Registros</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_delete'>Apaga Tabela</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_query'>Recupera dados</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_tables'>Lista Tabelas</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_rollback'>Processo c/ Rollback</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='db_commit'>Processo c/ Commit</li>
		</ul>

		<h2 class="row">Miscel&acirc;nea</h2>
		<ul class="row">
			<li class="col-xs-12 col-sm-6 col-md-3" id='misc_advpl'>runAdvpl</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='misc_message'>Troca de mensagens</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='misc_ajax'>Testar Ajax</li>
			<li class="col-xs-12 col-sm-6 col-md-3" id='misc_version'>Vers&atilde;o da Lib JS</li>
		</ul>
	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/app.js -->
	<script src="scripts/app.js"></script>
	<!-- endbuild -->
</body>

</html>
